html {  
    scroll-behavior: smooth;  
}
@media only screen and (min-width: 576px){
    .body {
        max-width: 600px;
    }
}
@media only screen and (min-width: 768px ){
    .body {
        max-width: 850px;
    }
}
@media only screen and (min-width: 992px){
    .body {
        max-width: 1000px;
    }
}
@media only screen and (min-width: 1200px){
    .body {
        max-width: 1400px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 850px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
.container-fluid{
    font-size: larger;
}
.rowSec0{
    text-align: center;
    padding-bottom: 10px;
}
.rowSec1{
    padding-top: 13px;
    text-align: center;
    padding-bottom: 10px;
}
.audioLogo{
    margin-left: 20px;
}
.wAttempt{
    font-weight: bold;
    color: red;
    text-align:center;
    display: inline;
    margin-left: 30px;
}
.time{
    text-align:center;
    display: inline;
    margin-right: 30px;
}
.time-light{
    font-weight: bold;
    color: red;
}
.time-dark{
    color: yellow;
    font-weight: 100;
}

.BODY{
    height: 100%;
    background: url("Image/bg-light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
}


.problem{
    margin-bottom: 70px;
}
#message{
    font-size: larger;
    text-align: center;
    margin-bottom: 70px;
}
.success, .fail{
    margin-bottom: 0px;
}
#solution{
    margin-bottom: 50px;
}
.footer{
    text-align: center;
}

/* Navbar CSS Start */
.navbar-brand {
    margin-right: 0px;
    font-size: 25px;
    font-weight: bolder;
}

.contact:hover{
    outline: none;
    box-shadow: inset 0 -2px 0 0 #28a745;
}
.user{
    margin-top: -10px;
    height: 20px;
    padding-bottom: 2px;
}
.login:hover{
    outline: none;
    box-shadow: inset 0 -2px 0 0 #28a745;
}

@media only screen and (min-width: 992px) {
    .form-control {
        display: inline-block;
        width: 78%;
    }

    .dropDownCentre {
        text-align: center;
    }
}
@media only screen and (max-width: 390px) {
    .navbar-toggler{
        margin-left: 39%;
    }
}
    
@media only screen and (max-width: 991px) {
    .form-control {
        display: inline-block;
        width: 79%;
    }

    .dropDownCentre {
        text-align: center;
    }
}

.navbar-dark .navbar-toggler{
    border: 2px solid #28a7a1;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(Image/menu.png);
}
.navbar-toggler{
    margin: 0px;
}
.brandLogo{
    padding-bottom: 8px;
    height: 50px;
    width: auto;
}

/* Navbar CSS ends */

.col1{
    padding-top: 20px;
    font-size: larger;
    text-align: center;
    padding-bottom: 15px;
}
.body{
    margin-top: 50px;
}
.rule-heading{
    text-decoration:underline;
    text-decoration-color: #28a745;
}
.board, .numCanvas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.numCanvas{
    padding-bottom: 8px;
}
.board-light{
    color: black;
}
.board-dark{
    color: black;
}
.block{
    background-color: grey;
    border-radius: 10%;
    height:114px;
    width: 114px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}
.col2{ /* Acting as grid container for 81 grids */
    /* border: 10px solid rgb(72, 221, 72); */
    border: 7px solid rgb(80, 81, 82);
    background-color: black;
    border-radius: 5%;
    height:370px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* OR 1fr 1fr 1fr */
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}
.numMobile{
    padding: 2px;
    margin-top: 20px;
    height: 45px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 8px;
    border-radius: 10px;
}
.numMobile-light{
    color: black;
    border: 3px solid black;
}
.numMobile-dark{
    color: black;
    border: 3px solid white;
}
.item{
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.num{
    background-color: greenyellow;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40%;
    cursor: pointer;
}

.num:hover{
    box-shadow: 10px 0px 40px 20px white;
}
.unfilled-grid{
    border-radius: 25%;
    width: 85px;
}

.soln-msg{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

.fb{
    border-radius: 50%;
    margin-right: 2%;
    opacity: 0.8;
}
.fb:hover{
    box-shadow: 10px 0px 40px 20px white;
}
.in{
    margin-bottom: 20px;
    margin-right: 2%;
    opacity: 0.8;
}
.in:hover{
    box-shadow: 10px 0px 40px 20px white;
}
.git{
    border-radius: 50%;
    margin-right: 2%;
    opacity: 0.8;
}
.git:hover{
    box-shadow: 10px 0px 40px 20px white;
}
.copy{
    padding-top: 1.5%;
}
.love{
    padding-bottom: 1%;
}
.footer-dark{
    color: white;
}
.footer-light{
    color: black;
}
.start, .playAgain1, .PlayAgain0, .PlayAgain3, .reveal1, .reveal2, .check{
    font-size: large;
    height: 41px;
    width: 91px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.747);
    background-color: rgb(239,239,239);
    color: black;
    margin-left: 5px;
    border-radius: 20%;
}
.clrBtn{
    height: 35px;
    width: 45px;
    border: 2px solid rgba(0, 0, 0, 0.747);
    background-color: rgb(239,239,239);
    color: black;
    border-radius: 20%;
    margin-left: 10px;
    font-weight: 100;
}
.playAgain1:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.PlayAgain0:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.PlayAgain3:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.check:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.reveal1:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.reveal2:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.start:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }
.clrBtn:hover{ color: black; background-color: greenyellow; text-decoration: none; box-shadow: 10px 0px 40px 20px white; }


.isHidden{
    visibility: hidden;
}
.unfilled{
    background-color: aliceblue;
}
.selectAnime{
    /* background-color:#0ff;  */
    background-color:greenyellow; 
    animation: iconAnime 1.5s linear infinite alternate;
    border-radius: 15%;
}
@keyframes iconAnime {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.1);
    }
}
.selectStatic{
    background-color:greenyellow; 
}
.txtGreen{
    color: green;
}
.txtRed{
    color: red;
}
.audioON{   }
.audioOFF{  }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    box-shadow: 10px 0px 100px 15px white;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .dark-mode{
    display: inline;
    font-size:larger;
    margin-right: 8px;
  }
  .darkMode-light{
    color: red;
  }
  .blob.red {
      border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }
  .darkMode-dark{
    color: yellow;
    font-weight: 100;
  }
  .blob.yellow {
      border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    animation: pulse-yellow 2s infinite;
  }
  
  @keyframes pulse-yellow {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
  }
  .col-darkMode{
    text-align: center;
  }
  